
.error-text {
    color: red;
    display: inline-block;
    position: absolute;
    left: 65px;
    /* top: 34px; */
    font-size: 75%;
    /* margin-top: 2.604167em; */
    /* top: calc(100% - 1.72916667em); */
    /* right: auto; */
}