<footer class="footer ">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://www.ifb-group.com">
            ifb
          </a>
        </li>
        <li>
          <a href="https://www.ifb-group.com/en/ueber-uns/">
            About Us
          </a>
        </li>
        <!--<li>
          <a href="">
            Blog
          </a>
        </li>
        <li>
          <a href="https://www.ifb-group.com/license">
            Licenses
          </a>
        </li>-->
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy;
      {{test | date: 'yyyy'}}, by
      <a href="https://www.ifb-group.com" target="_blank">ifb Group</a>.
    </div>
  </div>
</footer>
